:root{
    --cor-fundo:#97C6E1;
    --cor-fundoradial:#121F26;
    --cor-bordas:#3C7494;
    --cor-fonte1:#223946;
    --cor-fonte2:#FFFFFF;

}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte1);
}
.imagem-cabecalho{
    width: 2%;
}