*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-fundo: #97C6E1;
    --cor-fontes: #223946;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
    width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}
.escola-div-conteudo{
    width: 35%;
}
.escola{
    background-image: radial-gradient(#3C7494, #97C6E1);
    color: var(--cor-fontes);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}
.estudante-icone{
    width: 24px;
}
.estudante-div{
    text-align: center;
}
.estudante-div-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    align-items: center;
    margin-left: 20px;
}
.estudante{
    background-color: #97C6E1
}
.rodape{
    background-color: #3C7494;
    text-align: center;
}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}